@media (max-width: 520px) {
    .features10 .container {
      padding: 0 15px; 
    }
  
    .features10 .item-wrapper {
      padding: 10px; 
  
    .features10 .top-line {
      flex-direction: column; 
      text-align: center; 
    }
  
    .features10 .card-title {
      font-size: 1.2rem;
    }
  
    .features10 .price {
      font-size: 1rem; 
    }
  
    .features10 .mbr-text {
      font-size: 0.9rem; 
    }
  
    .features10 .item {
      margin-bottom: 20px; 
    }
    .bottom-line{
        text-align: center;
    }
  }
}